$main-grey: #45494fcd;
// $border-color : rgba(48, 47, 47, 0.626);
$bold-blue:  #208EFE;
/*this color has been used in the sidebar*/
$pale-blue: #ECF6FF;
$bold-green: #8AC54B;
/*this color has been used in the sidebar*/
$pale-green: #E4F6D1;
$bold-red: #FF4B44;
$pale-red:  #FFE8EA;
$bold-orange: #FFC022;
$border-color : rgba(194, 188, 188, 0.174);


